/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
  
h1 {
  font-style: italic;
  color: #9d9ebf;
}

#container {
  display: flex;

  order: 1;
  
}

#canvas-container {
  flex-grow: 1;
}

#box-container {
  width: 200px; /* Adjust as needed */
  margin-right: 20px;
  order: 2
}

.box {
  border: 1px solid #888;
  padding: 10px;
  margin: 10px;
  width: 180px; /* Adjust to fit within the box-container width */
}

#paragraph-container {
  margin-top: 20px;
}
/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
  
h1 {
  font-style: italic;
  color: #5156e8;
}

#container {
  display: flex;

  order: 1;
  
}

#canvas-container {
  flex-grow: 1;
}

#box-container {
  width: 200px; /* Adjust as needed */
  margin-right: 20px;
  order: 2
}

.box {
  border: 1px solid #888;
  padding: 10px;
  margin: 10px;
  width: 180px; /* Adjust to fit within the box-container width */
}

#paragraph-container {
  margin-top: 20px;
}
#experiment-title {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.1em; /* Adjust spacing as needed */
  text-transform: uppercase; /* Convert text to all caps */
  font-size: 3em; /* Adjust font size as needed */
  text-align: center; /* Center align the text */
}
#subtitle {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.1em; /* Adjust spacing as needed */
  text-transform: uppercase; /* Convert text to all caps */
  font-size: 1.5em; /* Adjust font size as needed */
  text-align: center; /* Center align the text */
}
.minor-section {
  font-family: Montserrat, sans-serif;
    letter-spacing: 0.1em; /* Adjust spacing as needed */
    text-transform: uppercase; /* Convert text to all caps */
    font-size: 1.2em; /* Adjust font size as needed */
    text-align: left; /* Center align the text */
    display: grid;
}
.rectangle-box h2,
.right-section h2 {
  font-weight: bold; /* Make the text bold */
  text-decoration: underline; /* Underline the text */
}
.right-section {
  flex: 1; /* Allow the box to grow and shrink based on available space */
  height: auto; /* Adjust height automatically */

  box-sizing: border-box; /* Ensure padding is included in width and height */
  text-align: left; /* Left align text */
  margin-top: 20px; /* Space between sections */
}